
/* styles.css */
.img{
background-color: gray;
}

.img2{
    background-color: rgb(192, 192, 192);
    }

.flex {
    display: flex;
  }

  .bot{
    position: absolute;
    bottom: 0;
}

.center{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full{
        width: 100%;
    }

.rev{
    width: 70%;
}

.padding{
    padding-left:2%;
    padding-right:2% ;
}

.center1 {
    margin: auto;
    width: 40%;
    text-align: center; 
}

.inner {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center; 
}

.form-control {
    width: 100%;
}

.container3 {
    max-width: 600px; 
    margin: 0 auto; 
}

.align1{
    float: right;
    text-align: right;
    vertical-align: top;
}

.gray{
    background-color: gray;
    }

.lgray{
    background-color: rgb(192, 192, 192);
}

.ltgray{
    background-color: rgb(192, 192, 192, 0.5);
}

.bdblack{
    border: 3px solid rgb(148, 148, 148);
}

.rborder{
border-radius: 10px;
}

.cover{
    width: 40%;
    height: 60vh;
    position: relative;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    }

    .full1 {
        position: relative;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }

    .prlx {
        background-image: url('images/cartaz.PNG');
        height: 50vh;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .scrollable {
        overflow-y: auto !important;
    }

    .scrollablex {
        width: 100% !important; /* Adjust width as needed */
        overflow-x: auto !important; /* Allow horizontal scrolling */
        overflow-y: hidden !important; /* Hide vertical scrollbar */
        white-space: nowrap !important; /* Prevent line breaks */
    }

    .color1 {
        background-color: #D04848 !important;
    }

    .color2 {
        background-color: #F3B95F !important;
    }

    .color3 {
        background-color: #FDE767 !important;
    }

    .color4 {
        background-color: #6895D2 !important;
    }

    .wtext {
        color: white !important;
    }

    .debug{
        background-color: purple !important;
    }
    
    .debug2{
        background-color: pink !important;
    }
    
    .debug3{
        background-color: lime !important;
    }

    .clickable {
        cursor: pointer;
    }
    
    .modal-content {
        text-align: center; 
    }
    
    #modalImage {
        max-width: 100%; 
        max-height: 80vh; 
    }

    .white-div {
        background-color: white;
        margin-left: 2vw; 
        margin-right: 2vw; 
        padding-left: 2vw;
        padding-right: 2vw;
    }

    div {
        border-radius: 5px;
    }

    .shadow {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    }

    body {
        font-family: 'Nunito', sans-serif;
    }


    /* este css server para fazer o efeito animado de fade e para começar escondido e sem opacidáde */
    body {
        display: none; 
        opacity: 0; 
        height: 100%;
    }

    .paddingd {
        padding-bottom: 5vh;
    }

    .paddingd1 {
        padding-bottom: 2vh;
    }