
/* styles.css */
.img{
background-color: gray;
}

.img2{
    background-color: rgb(192, 192, 192);
    }

.flex {
    display: flex;
  }

  .bot{
    position: absolute;
    bottom: 0;
}

.center{
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .full{
        width: 100%;
    }

.rev{
    width: 95%;
}

.padding{
    padding-left:2%;
    padding-right:2% ;
}

.center1 {
    margin: auto;
    width: 40%;
    text-align: center; 
}

.inner {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center; 
}

.form-control {
    width: 100%;
}

.container3 {
    max-width: 600px; 
    margin: 0 auto; 
}

.align1{
    float: right;
    text-align: right;
    vertical-align: top;
}

.gray{
    background-color: gray;
    }

.lgray{
    background-color: rgb(192, 192, 192);
}

.ltgray{
    background-color: rgb(192, 192, 192, 0.5);
}

.bdblack{
    border: 3px solid rgb(148, 148, 148);
}

.rborder{
border-radius: 10px;
}

.cover{
    width: 40%;
    height: 60vh;
    position: relative;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    }

    .full1 {
        position: relative;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
    }

    
    .scrollable {
        overflow-y: auto !important;
    }

    .scrollablex {
        width: 100% !important;
        overflow-x: auto !important; /* Permite scroll horizontal */
        overflow-y: hidden !important; /* Esconde a barra vertical */
        white-space: nowrap !important; /* Prevente quebras de linha */
    }

    .color1 {
        background-color: #D04848 !important;
    }

    .color2 {
        background-color: #F3B95F !important;
    }

    .color3 {
        background-color: #FDE767 !important;
    }

    .color4 {
        background-color: #6895D2 !important;
    }

    .color5 {
        background-color: #b43e3e !important;
    }

    .wtext {
        color: white !important;
    }

    .debug{
        background-color: purple !important;
    }
    
    .debug2{
        background-color: pink !important;
    }
    
    .debug3{
        background-color: lime !important;
    }

    .clickable {
        cursor: pointer;
    }
    
    .modal-content {
        text-align: center; 
    }
    
    #modalImage {
        max-width: 100%; 
        max-height: 80vh; 
    }

    .white-div {
        background-color: white;
        margin-left: 1vw; 
        margin-right: 1vw; 

    }

    div {
        border-radius: 3px;
    }

    .shadow {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
    }

    body {
        font-family: 'Nunito', sans-serif;
    }


    /* este css server para fazer o efeito animado de fade e para começar escondido e sem opacidáde */
    body {
        display: none; 
        opacity: 0; 
        height: 100%;
    }

    .paddingd {
        padding-bottom: 5vh;
    }

    .paddingd1 {
        padding-bottom: 2vh;
    }

    .paddingd2 {
        padding-left:2% !important;
    }

    .white{
        background-color: rgba(247, 247, 247, 0.916);
    }

.navbar-nav li.active a {
    background-color: #F3B95F !important;
    color: #FFFFFF !important;
}

.bold {
    font-weight: bold !important;
}

.padding3{
    padding-left:5% ;
    padding-right:5% ;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.fullh{
    height: 100%;
}

.padding4{
    padding-top:2vh ;
    padding-bottom:2vh ;
}

.foot {
    height: 7vh;
    width: 7vh;
    border-radius: 1vh;
}

.a {
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.padding5 {
    padding-top:2vh ;
    padding-bottom:2vh ;
  }

  .spacediv {
    width: 2vh;
  }

  .gif {
    width: 100%; height: 100%; object-fit: cover;
  }

  .padding6 {
    padding-top:2vh ;
    padding-bottom:2vh ;
    padding-left:2vh ;
    padding-right:2vh ;
  }

  .video-container {
    position: relative;
}
.hand-image {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: 5vh;
    height: 5vh;
}

.margin {
margin-left: 0vw;
margin-right: 0vw;
}


/* fade das divs */

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100%); /* Slide in*/
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%); /* Slide out*/
    }
}

.fadein {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.fadeout {
    opacity: 1;
    animation-name: fadeOut;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}


/* fade das divs direita*/

@keyframes fadeInr {
    from {
        opacity: 0;
        transform: translateX(100%); /* Slide in*/
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutr {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%); /* Slide out*/
    }
}

.fadeinr {
    opacity: 0;
    animation-name: fadeInr;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.fadeoutr {
    opacity: 1;
    animation-name: fadeOutr;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.nunito {
    font-family: 'Nunito', sans-serif;
}

.fd {
    font-family: 'Fair Display', serif;
}

.prlx {
        background-image: url('images/cartaz.PNG');
        height: 50vh;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
    }


    
    